.home-header-container {
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}
.new-task-btn {
    padding: 8px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    font-size: 24px;
    border: 0;
    background-color: #007bff;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.new-task-btn {
    transform: scale(0.95);
} 
.header-logo-text {
    font-size: 34px;
    text-align: center;
    color: #003366;
    margin-bottom: 16px;
}
@media (min-width: 786px) {
    .home-header-container {
        width: 80%;
    }
    .header-logo-text {
        font-size: 40px;
    }
    .new-task-btn {
        padding: 12px;
        font-size: 22px;
    }
}